<p> <%= link_to 'Back to project', project_path %> </p>

<p> <b>Name:</b> <%= @person.name %> </p>

<% addExpPath = root_path + @project.secret + "/" + @person.name + "/new" %>
<p>
<%= link_to 'Add expense', addExpPath %>
</p>

<p><b> List of expenses </b> <br> 
To remove expense: click on description link. <br>
To move person between contributers and non-contributers: click on person link. 
</p>

<table>
  <tr><td><b>Description</b></td> <td><b>Amount</b></td> <td><b>Contributers</b></td> <td><b>Non-contributers</b></td>
  </tr>
  <% @person.expenses.each do |exp| %>
    <% expenseLink=root_path + @project.secret + "/"+ @person.name + "/expenses/" + exp.id.to_s %>
    <tr> <td> <%= link_to exp.description, expenseLink, :confirm=>'Are you sure?', :method=>:delete %> </td> 
         <td> <%= exp.amount %> </td> 
         <td> <% exp.getContributers.each do |c| %>
              <% link=root_path + @project.secret + "/expenses/" + exp.id.to_s + "/?person=" + c[:person].id.to_s + "&weight=0" %>
              <%= link_to c[:person].name, link %> 
              <%= " " %>
              <% end %> 
         </td>
         <td> <% exp.getNonContributers.each do |nc| %>
              <% pewid = Peweight.find_by_person_id_and_expense_id(nc[:person].id, exp.id).id %> 
              <% pewLink=root_path + @project.secret + "/pew/" + pewid.to_s %> 
              <%= link_to nc[:person].name, pewLink, :method=>:delete %>
              <%= " " %>
              <% end %> 
         </td>
    </tr>
  <% end %> 
</table>

<p>
Number of expenses: <%=@person.expenses.count %> <br>
Total of expenses: <%=@person.totalAmount %> <br>
</p>

<p>Debug info: <br>
Project Id: <%= @project.id %> <br>
Person Id: <%= @person.id %> <br>

</p>
